.home {
  height: auto;
  width: 100%;
}
.card {
  display: flex;

  padding: 20px 0;
}
.swiper2 {
  padding: 30px 0;
  margin: 0 10%;
  position: relative;
}

.swiperp {
  text-align: center;
  color: #ae674c;
  font-size: 33px;
  font-weight: 500;
  text-transform: uppercase;
}
.shipparent {
  display: flex;
  margin: 0 20%;
  width: 100%;
  height: 77px;
}
.delivery {
  display: flex;
  gap: 20px;
}
.uae {
  display: flex;
  flex-direction: column;
}
.line {
  width: 1px;
  height: 30px;
  background-color: #cdd0d2;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.commitment {
  display: flex;
  gap: 20px;
  padding: 0px 20px;
}
.commitment p {
  padding-top: 5px;
}
.secure p {
  padding-top: 5px;
}
.secure {
  display: flex;
  gap: 20px;
  padding: 0px 20px;
}
.call {
  display: flex;
  gap: 20px;
  padding: 0px 20px;
}
.number {
  display: flex;
  flex-direction: column;
}
.backgroundfullimage img {
  width: 100%;
}
.mostpopular {
  height: 485px;
  width: 100%;
  background-color: rgb(183, 118, 28, 0.2);
}
.mostpopular {
  padding: 35px 150px 0px;
}
.active button {
  background-color: #ae674c !important;
  border: 1px solid #ae674c !important;
  padding: 4px 10px;
  color: white;
  cursor: pointer;
}



.popularbutton button {
  border: none;
  padding: 4px 15px;
  background-color: #e4e8eb;
  cursor: pointer;
}
.popularbutton button:hover {
  color: blue;
  background-color: white;
  border: 1px solid blue;
}
.popularbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.mostpopular p {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  color: #ae674c;
  font-size: 33px;
  font-weight: 500;
}
.img1 {
  width: 145px;
  height: 80px;
}
.img2 {
  width: 145px;
  height: 60px;
}
.img3 {
  width: 145px;
  height: 45px;
}
.img4 {
  width: 145px;
  height: 55px;
}
.goldensites {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.otherGolden p {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  color: #4b4b4b;
  font-size: 25px;
}
.card :hover {
  cursor: pointer;
  transition: 1.5s;
}

.newItem {
  width: 150px;
  height: 300px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  transition: 0.5s;
  position: relative;
}
.newItem:hover {
  box-shadow: 8px 8px 30px 10px #e5e7eb;
}
.whislist {
  position: absolute;
  top: 5px;
  right: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 45px;
  height: 40px;
  border-radius: 10px;
  background-color: #f6f6f6;
}
.whislist button {
  cursor: pointer;
  width: 40px;
  height: 35px;
  border: none;
  background-color: #f6f6f6;
}
.imageClass {
  width: 150px;
  height: 190px;
  padding: 10px 0px;
}
.imageClass img {
  width: 150px;
  height: 170px;
  object-fit: contain;
}
.imageTitleAndPrice {
  width: 148px;
  height: 108px;
  background-color: #e5e7eb;
  font-size: 12.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.imageTitle {
  width: 150px;
  padding: 0 16px;
  text-transform: lowercase;
  text-align: center;
  color: #000;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.imageTitle::first-line {
  text-transform: capitalize;
}
.imageTitleAndPrice button {
  width: 80px;
  height: 30px;
  border: 1px solid #d2d2d2;
  border-radius: 13px;
  transition: 0.5s;
  font-size: 11px;
}
.imageTitleAndPrice button:hover {
  background-color: #ae674c;
  cursor: pointer;
}
.imagePrice {
  color: #ae674c;
  display: flex;
  align-items: center;
  gap: 2px;
  text-align: center;
}
.boldPrice {
  font-size: 16px;
  font-weight: 600;
}

.imageTitleAndPrice button:hover {
  background-color: #ae674c;
  cursor: pointer;
}
.fullCard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  padding: 30px 16px;
}
