.newItem {
  width: 150px;
  height: 300px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  transition: 0.5s;
  position: relative;
}
.newItem:hover {
  box-shadow: 8px 8px 30px 10px #e5e7eb;
}
.whislist {
  position: absolute;
  top: 5px;
  right: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 45px;
  height: 40px;
  border-radius: 10px;
  background-color: #f6f6f6;
}
.whislist button {
  cursor: pointer;
  width: 40px;
  height: 35px;
  border: none;
  background-color: #f6f6f6;
}
.imageClass {
  width: 150px;
  height: 190px;
  padding: 10px 0px;
}
.imageClass img {
  width: 150px;
  height: 170px;
  object-fit: contain;
}
.imageTitleAndPrice {
  width: 148px;
  height: 108px;
  background-color: #e5e7eb;
  font-size: 12.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.imageTitle {
  width: 150px;
  padding: 0 16px;
  text-transform: lowercase;
  text-align: center;
  color: #000;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.imageTitle::first-line {
  text-transform: capitalize;
}
.imageTitleAndPrice button {
  width: 80px;
  height: 30px;
  border: 1px solid #d2d2d2;
  border-radius: 13px;
  transition: 0.5s;
  font-size: 11px;
}
.imageTitleAndPrice button:hover {
  background-color: #ae674c;
  cursor: pointer;
}
.imagePrice {
  color: #ae674c;
  display: flex;
  align-items: center;
  gap: 2px;
  text-align: center;
}
.boldPrice {
  font-size: 16px;
  font-weight: 600;
}

.imageTitleAndPrice button:hover {
  background-color: #ae674c;
  cursor: pointer;
}