.my {
  width: 100%;
  height: auto;
}
.my :hover {
  cursor: pointer;
  transition: 1.5s;
}
.fullCard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  padding: 30px 16px;
}








